body{
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    font-family: 'Exo 2', sans-serif;
    overflow: hidden;
    display: block;
    font-size: 1rem;
}



.header{
    display: flex;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    border-bottom:1px solid rgba(85, 85, 85, 0.171) ;
    width:100%; 
    height: 60px;
    top: 0px; 
    left:0px; 
    align-items: center;
}
.navOne{
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.logoProud{
    height: 25px;
    transition: .3s;
}
.logoProud:hover{
    opacity: 60%;
}
.navOne a{
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 600;
    background: rgb(0, 0, 0);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.navOne a:hover{
    background: rgba(15, 15, 15, 0.71);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.search{
    background-color: rgba(192, 192, 192, 0.285);
    width: 1000px;
    height: 30px;
    padding-left: 30px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(170, 170, 170, 0.407);
    font-size: 1rem;
    font-weight: 600;
    color: #2a2a2a;
    transition: .2s;
}
.search::placeholder{
    color: #b6b6b6;
    font-weight: 400;
}
.search:hover{
    border: 2px solid rgb(0, 0, 0);
}

.navTwo{
    align-items: center;
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.messageIcon{
    margin-left: 25px;
}
.messageHoverBox{
    position: absolute;
    display: none;
    width: 75px;
    height: 20px;
    margin-top: 19px;
    align-items: center;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.68);
    color: white;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 400;
}
.fa-message{
    font-size: 1.4rem;
    transition: .3s;
    cursor: pointer;
}
.fa-message:hover{
    opacity: 0.6;
}
.messageIcon:hover + .messageHoverBox{
    display: block;
}

.notificationIcon{
    margin-left: 32px;
}
.notificationHoverBox{
    position: absolute;
    display: none;
    width: 90px;
    height: 20px;
    margin-top: 18px;
    align-items: center;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.68);
    color: white;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 400;
}
.fa-bell{
    font-size: 1.5rem;
    transition: .3s;
    cursor: pointer;
}
.fa-bell:hover{
    opacity: 0.6;
}
.notificationIcon:hover +.notificationHoverBox{
    display: block;
}

.profileIcon{
    margin-left: 15px;
}
.profileHoverBox{
    position: absolute;
    display: none;
    width: 60px;
    height: 20px;
    margin-top: 13px;
    align-items: center;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.68);
    color: white;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 400;
}
.profileIcon img{
    height: 30px;
    border-radius: 100%; 
    cursor: pointer; 
    transition: .3s;  
}
.profileIcon img:hover{
    opacity: .7;   
}
.profileIcon:hover + .profileHoverBox{
    display: block;
}
/* -----------Proud Moments Section------------ */
.moments{
    position: fixed;
    width:100%; 
    height: auto;
    top: 90px; 
    left:0px;
   
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    padding-left: 10px;
  }
.addIcon{
    height: 60px;
} 
.addButton{
    background-color: rgb(103, 133, 159);
    display: inline-block;
    color: white;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 0px 30px ;
    text-align: center;
    text-decoration: none;
}
.proudMoments{
    background-color: rgb(38, 117, 186);
    display: inline-block;
    color: white;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 0px 30px ;
    text-align: center;
    text-decoration: none;
  }
  
/* Hiding scroll bar for Moments section for every browser */
.scrollmenu::-webkit-scrollbar {
    display: none;
  }
.scrollmenu {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }


/* -------------------Main----------------------- */
.recentUpdateBox{
    display: flex;
    border-radius: 10px;
    margin: 0px auto;
    margin-top: 220px;
    width: 1200px;
    height: 300px;
    justify-content: center;
    background-color: #2a2a2a;
    background-image: url(assets/greenWallBg.jpg);
    background-size: 1200px 400px;
    background-repeat: no-repeat;
}
.recentUpdateBoxData{
    width: 90%;
    height: 80%; 
    margin-top: 30px;
}
.roleText{
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
.ngoName{
    margin: 0px auto;
    margin-bottom: 10px;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 20px;
    background: linear-gradient(#ffffff 0%,#ffffffc8 40%, #fdfdfd60 70%, #fdfdfd00 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.detailsSection{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.detailsSection i{
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
}

.subContainer{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.viewMoreButton{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    align-content: end;
    cursor: pointer;
}
.viewMoreButton:hover{
    background-color: #ffffff63;
    color: white;
    font-weight: 600;
}
/* --------------Suggestion Section---------- */
.suggestionText{
    margin-top: 60px;
}
.suggestionColumn{
    width: 1990px;
    height: 30px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
}
.referenceText{
    font-size: 1.2rem;
    font-weight: 600;
}
.viewAllButton{
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
    transition: .3s;
}
.viewAllButton:hover{
    color: #777;
}
.horizontalLine{
    width: 1990px;
    border: 1px solid rgba(0, 0, 0, 0.087);
}
.forYouSection{
    width: 100%;
    padding-top: 20px;
}

/* ----Column Section--- */
.suggestedNgoColumn{
    display: flex;
    justify-content: space-between;
    width: 2000px;
    margin: 0px auto;
}
.ngoBox{
    width: 450px;
    height: 150px;
    display: flex;
    align-items: center;
}
.ngoDisplayPicture{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #000000;  
}
.ngoDetailBox{
    background-color: #b6b6b6;
    margin-left: 80px;
    height: 130px;
    width: 370px;
    border-radius: 10px;
}


.ngoDetailBox#boxOne{
    background-color: #F1F7ED;
}
.ngoDetailBox#boxTwo{
    background-color: #243E36;
}
.ngoDetailBox#boxThree{
    background-color: #7CA982;
}
.ngoDetailBox#boxFour{
    background-color: #E0EEC6;
}

/* --------------Near You Section---------------- */
.nearYouBox{
    margin-top: 60px;
}
.nearYouColumn{
    width: 1990px;
    height: 30px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
}
.nearYouText{
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.nearYouText p{
    padding-top: 2px;
    padding-left: 3px;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
}

