body{
    background-color: rgb(202, 210, 255);
    background-image: url("assets/catsBg.jpg");
    background-size: 2220px 1380px;
    font-family: 'Exo 2', sans-serif;
}
.main{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: 100px auto;
    padding-top: 20px;
}
.whiteLogo{
    margin-top: 400px;
    height: 70px;
    cursor: pointer;
}

.signinSection{
    width: 100%;
    display: flex;
    float: left;
    justify-content: space-around;
}
.signinSection#signin.active{
    visibility: hidden;
}

.loginShape{
    height: 800px;
    width: 500px;
    background: rgba(163, 163, 163, 0.375);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid white;
}

.form{
    font-size: 1.1rem;
    margin: 10%;
  }

.formHeader{
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
  }
  .form .message {
    color: #fff;
    font-size: 18px;
  }
  .form .message a {
    color:#0057ff;
    text-decoration: none;
  }
  .form .message a:hover {
    text-decoration: underline;
  }

  .hint{
    padding-top: 20px;
    font-size: 14px;
    color: white;
    margin-bottom: 2px;
  }

.form input{
    color: rgb(249, 249, 249);
    font-size: 1.2rem;
    background: #fcfcfc01;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    transition: .5s;
    border-bottom: 2px solid #fdfeff;
}  
.form input::placeholder{
    visibility: hidden; 
}
.form input:hover{
    border-bottom: 2px solid rgb(218, 218, 218);
}
.form input:focus{
    border-bottom: 2px solid #0057ff;
}

.form .continue{
    background-color: #f3ec78;
    background: #0057ff;
    color: transparent;
    width: 110px;
    height: 35px;
    margin-left: 300px;
    border-radius: 20px;
    color: #FFFFFF;
    border: 1px solid #0057ff;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 2px;
    font-weight: 600;
    -webkit-transition: all 0.3 ease;
    transition: all .5s;
    cursor: pointer;
  }
  .form .continue:hover {
    background: #003db7;
    border: 1px solid #003db7;
  }

.divLine {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}   
.divLine:before,.divLine:after {
    content: "";
    position: absolute;
    top: 60%;
    border-bottom: 1px solid #fcfcfc58;
    width: 175px;
    z-index: -1;
}   
.divLine:before {
    right: 53%;
    margin-right: 15px;
}      
.divLine:after {
    margin-left: 15px;
}
.divLine span{
    font-size: 24px;
    font-weight: 200;
    color: white;
}

.socialContainer{
    width: 100%;
    height: 230px;
    margin-top: 10px;
    text-align: center;
}
.socialButton{
    background-color: #ffffff00;
    color: transparent;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #FFFFFF;
    border: 1px solid #c0c0c0;
    -webkit-transition: all 0.3 ease;
    transition: all .3s;
    cursor: pointer;
  }
  .socialIcon{
    margin-bottom: 5px;
    vertical-align: middle;
    margin-right: 15px;
    height: 25px;
    width: 24px;
}
.buttonText{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 400;
}

.socialButton:hover{
    border: 1px solid white;
}

.help{
    color: white;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}
.help:hover{
    text-decoration: underline;
}
